/*Board 15x15*/
.board {
    z-index: -1;
    display: grid;
    border: green solid 0.5px;
    grid-template-columns: repeat(15, 2.5em);
    grid-template-rows: repeat(15, 2.5em);
    background-image: url("images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}