@keyframes loader {
    0% {background-color: green; width: 0em;}
    100% {background-color: green; width: 20em;}
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50em; 
}

#snake {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10em; 
    background-image: url("images/snake.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#loadingBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-left: 14em;
    height: 1em;
    width: 20em;
    border: white solid 1px;
    background-color: black;
}
#stateLoad {
    width: 0em;
    height: 1em;
    animation-duration: 2s;
    animation-name: loader;
    background-color: green;
}

