.page {
    background-color: black;
}

#game {
    opacity: 0;
}

#game-view {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#progress {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.progress-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    font-weight: 700;
    align-items: center;
}

#apple-image {
    height: 1.7em;
    width: 1.7em;
    background-image: url("images/redApple.png");
    background-size: 100%;
}

#appleNB {
    color: white;
    font-size: 1em;
}

#trophy-image {
    height: 1.7em;
    width: 1.7em;
    background-image: url("images/trophy.png");
    background-size: 100%;
}

#scoreNB {
    color: white;
    font-size: 1em;
}

#high-score-trophy-image {
    height: 1.7em;
    width: 1.7em;
    background-image: url("images/newScore.png");
    background-size: 100%;
}

#highScore {
    color: yellow;
    font-size: 1em;
}

#length {
    position: absolute;
    color: white;
    font-size: 1em;
    top: 25%;
    left: 67%;
}

#score {
    position: absolute;
    color: white;
    font-size: 1em;
    top: 30%;
    left: 67%;
}